<div class="box">
    <div class="newr">
    <div>
        <img src="../../assets/images/kore.png" height="50px" width="70px"/>
    </div>
    <div style="overflow: hidden;">
        <img src="../../assets/images/ship.png" style="border-radius:100px ; margin-left:120px ; ">
    </div>
    <div >
        <h3 class="agile">Simplify Iot <br>-----------------</h3>
        <p class="ptag">Interpreting the capacity of large global providers with<br> tight team, we get more of the night things done,faster.</p>
    </div>
    <input style="margin-left: 10px;" type="button" class="btn btn-primary" value="click" (click)="rep()"/>
</div>
</div>