<div class="box">
    <div class="newr">
    <div>
        <img src="../../assets/images/kore.png" height="50px" width="70px"/>
    </div>
    <div style="overflow: hidden;">
        <img src="../../assets/images/green.webp" style="border-radius:100px ; margin-left:120px ; ">
    </div>
    <div >
        <h3 class="agile">Agile <br>-----------------</h3>
        <p class="ptag">Combining the capacity of large global providers with <br>the velocity of a tight team, we get more of the night<br> things done,faster.</p>
    </div>
    <input style="margin-left: 10px;" type="button" class="btn btn-primary" value="click" (click)="rep()"/>

</div>
</div>